
*{
    margin: 0;
    padding: 0;
    /* border: none; */
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}
body {
    background-color: #EEECEC;
    height: 100%;
   
    header{
        .interface-cabeçalho{
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 115px;
            width: 100%;
            position: fixed;
            background-color: blue;
        
            .logo{
                padding: 0 50px;
            }
            .menu-desktop {
                ul {        
                    list-style-type: none;
                    
                    li {
                        display: inline-block;
                        padding: 0 40px;

                        a {
                            color: white;  
                            text-decoration: none;
                            font-weight: 900;
                            font-size: 30px;  
                            display: inline-block;       
                            transition: .2s; 
                            -webkit-text-stroke-color: black;
                            -webkit-text-stroke-width: 1.5px;
                        }
                        a:hover{ 
                            color: rgb(124, 124, 124);
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

main{
    .topo-portfolio{
        .interface{
            .flex{
                padding-top: 8%;
                .img-topo-portfolio{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 500px;
                    padding-top: 10px;
                }
                .txt-topo-portfolio{
                    h1{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 800;
                        font-size: 35px; 
                    }
                    p{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 30px; 
                    }
                }
                nav{
                    ul{
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        li{
                            padding-top: 20px;
                            display: inline-block;
                            a{
                                padding-left: 35px;

                            }
                        }
                    }
                }
            }
        }
    }

    #Sobre-mim{
        .interface-sobre-mim{
            padding-top: 8%;
            .txt-sobre-mim{
                h1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 800;
                    font-size: 35px; 
                }
                p{
                    margin: auto;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 25px; 
                    text-indent: 50px;
                }
            }
        }
    }

    #Tecnologias{
        .interface-tecnologias{
            padding-top: 8%;
            h1{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                font-size: 35px;
            }
            .txt-tecnologias{
                display: flex;
                justify-content: center;
                gap: 30%;

                .front-end{
                    font-weight: 800;
                    font-size: 25px;
  
                    ul{
                        margin: auto;
                        align-items: center;
                        list-style-type: none;
                        border: 3px solid blue;

                        li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10%;  
                        }
                        p{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 10px 10px 10px ;
                        }
                    }
                }
                .back-end{
                    font-weight: 800;
                    font-size: 25px;
                    
                    ul{
                        margin: auto;
                        align-items: center;
                        list-style-type: none;
                        border: 3px solid blue;
                        
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10%;
                        }   
                        p{
                            display: flex;
                            margin: auto;
                            align-items: center;
                            justify-content: center;
                            padding: 0 10px 10px 10px ;
                        }
                    }
                }
            }
        }
    }
    #Projetos{
        .interface-projetos{
            padding-top: 8%;
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                font-size: 35px;
                padding-bottom: 10px;
            }
            .txt-projetos{
                font-weight: 800;
                font-size: 25px;
                
                ul{
                    list-style-type: none;
                    text-align: center;

                    li{
                        display: inline-block;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 50px;
                        padding-top: 20px;
                        margin: 10px;

                        img{
                            width: 700px;
                            height: 550px;
                            object-fit: fill;
                            border: 2px solid blue;
                        }
                    }
                    p{
                        display: flex;
                        margin: auto;
                        align-items: center;
                        justify-content: center;
                    }

                    .tecnologia-projeto{
                        display: inline-block;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        margin: 5px;
                        border: 3px blue solid;
                        border-radius: 10px;
                        padding: 5px;

                        .txt-tecnologia-projeto{
                            display: flex;
                            align-items: center; 
                            justify-items: center;
                        }
                    }
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 20px 0 40px 0;
                    }    
                }
            }
        } 
    }
}
