
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #EEECEC;
    height: 100%;
}
header{
    padding: 30px 4%;
    background-color: blue;

    .interface{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            padding: 0 50px;
        }
    
        .menu-desktop {
            ul {        
                list-style-type: none;
                
                li {
                    display: inline-block;
                    padding: 0 40px;

                    a {
                        color: white;  
                        text-decoration: none;
                        font-weight: 900;
                        font-size: 30px; 
                        display: inline-block;
                        transition: .2s;
                        -webkit-text-stroke-color: black;
                        -webkit-text-stroke-width: 1.5px;
                   }
                   a:hover{
                    color: rgb(124, 124, 124);
                    transform: scale(1.05);
                    }
                }
            }
        }
    }
}
main{
    .topo-home{
        .interface{
            .txt-topo-home{
                padding-top: 90px;
                h1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 800;
                    font-size: 35px; 
                    padding-bottom: 20px;
                    color: white;
                    -webkit-text-stroke-color: black;
                    -webkit-text-stroke-width: 1.5px;
                }   
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 35px; 
                    padding-bottom: 20px;   
                    color: white;
                    -webkit-text-stroke-color: black;
                    -webkit-text-stroke-width: 1.5px;
                }
                p{
                    margin: auto;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 25px; 
                    text-indent: 50px;
                    width: 60%;
                }
            }
        }
    }
}